name: Daily Alert Report

on:
  schedule:
    - cron: "00 23 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      # - name: Install Chromium browser
      #   run: sudo apt-get update && sudo apt-get install -y chromium-browser

      - name: Run script
        run: python main.py

env:
  DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
  FLIGHTS_API_KEY: ${{ secrets.FLIGHTS_API_KEY }}
